 .button {
  border-radius: 3%;
  border: 2px solid white;
  background-color: #1c87c9;
  color: white;
  width: 25%;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  background-color: orange;
  color: white;
  font-size: 21px;
}

div {
  font-size: 25px;
  color: white;
}

.circle {
  border-radius: 25%;
  border: 2px solid white;
  background-color: pink;
  color: darkred;
}


